*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    transition: all 0.3s;
    scroll-behavior: smooth;
 
}
.logo
{
    width: 10%;
    
}
.serchbar 
{
    position: relative;
   
}
.serchbar input
{
    padding-left: 40px;
}
.fa-magnifying-glass
{
    position: absolute;
    top: 30%;
    left: 2%;
}
.fa-bars
{
    font-size: 20px;
    
}
.off-option i
{
  font-size: 20px;
}
.off-option a
{
    font-size: 15px;
   
}
.body-color
{
    background-color:rgb(231, 228, 228);
}
.your-class
{
   overflow: hidden;
}
.modal
{
    width: 500px;
}
.modal-dialog
{
    width: 500px;
}
.modal-content
{
    width: 500px;
}
.bg-banner1
{
    background-color: rgb(43,49, 73);
    z-index: -999;
}
.gatsMW {
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-align: start;
    align-items: start;
    overflow: visible;
    color: rgb(153, 153, 153);
    width: 100%;
    max-width: 1280px;
    margin: 0px auto 15px;
    padding: 0px 15px;
}
.jnnqYA {
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-align: start;
    align-items: start;
    overflow: visible;
    width: 100%;
    height: 100%;
    background-color: rgb(51, 51, 56);
    padding: 0px;
}
.iUglyZ {
    display: flex;
    flex-flow: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    justify-content: space-between;
    opacity: 1;
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
    padding: 15px;
    -webkit-box-align: center;
    align-items: center;
}
.ctrgkd {
    flex: 0 0 auto;
    background-color: rgb(236, 94, 113);
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.bzTJkU {
    background-color: rgb(49, 48, 53);
    color: rgb(255, 255, 255);
    font-size: 16px;
}
.hKjnUS {
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-align: start;
    align-items: start;
    overflow: visible;
    color: rgb(153, 153, 153);
    width: 100%;
    max-width: 1280px;
    margin: 0px auto;
    
    padding: 15px;
}
.jMLWWd {
    display:inline-block;
    text-align: center;
    color: rgba(188, 192, 196, 0.74);
    text-decoration: none;
    cursor: pointer;
    padding: 0px 100px;
}
.jMLWWd svg {
    fill: rgb(198, 198, 199);
}
.eFQjTJ {
    width: 100%;
    padding-top: 25px;
}
.iaUPsu {
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 20vh;
    background-color: rgb(51, 51, 56);
   
}
.igiRIk {
    flex: 1 1 0%;
    height: 1px;
    background: rgb(93, 93, 95);
}
.eprSnC {
    flex-basis: auto;
    width: 100%;
}
.dtUDzi {
    text-align: center;
}
.hOLPST {
    display: inline-block;
    margin-right: 10px;
    width: 37px;
    height: 37px;
    
}
.eOLamZ {
    padding: 30px;
    font-size: 11px;
    color: rgb(102, 102, 102);
    text-align: center;
    padding-top: 20px;
   
}   
.jgzpRM {
    font-size: 11px;
    color: rgb(127, 127, 127);
    letter-spacing: 0.1px;
    text-decoration: none;
    transition: color 0.25s ease-in-out 0s;
    margin: 0px 5px 5px 0px;
    padding-right: 5px;
    border-right: 1px solid rgb(127, 127, 127);
    
}
.jtGXaE {
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-align: start;
    align-items: start;
    overflow: visible;
    width: 100%;
    background-color: rgb(64, 64, 67);
    padding: 0px;
    
}
.gikDcv {
    display: inline-block;
    width: 50px;
    height: 50px;
    
}
